.body {
  margin: 0; }

.form {
  background-color: lightpink;
  color: black;
  height: 800px;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center; }

.textarea {
  background-color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 60px; }

/*ANIMACIONES*/
.section__estilo-uno {
  animation-duration: 5s;
  animation-name: section__estilo-uno; }

@keyframes section__estilo-uno {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*NAVBAR*/
.navbar {
  background-color: lightpink !important;
  padding: 1rem;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem; }

.navbar__nav-link {
  color: black;
  padding-left: 1rem;
  padding-right: 1rem; }

.navbar__nav-item {
  padding-left: 1rem;
  padding-right: 1rem; }

.navbar__nav-item:hover {
  background-color: pink;
  color: black;
  border-radius: 3rem; }

.navbar__img-logo {
  width: 100px;
  border-radius: 3rem; }

/*SECTION*/
.section {
  font-family: 'Dancing Script', cursive; }

.section__estilo-uno {
  color: green;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 50px; }

.section__estilo-dos {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-top: 40px;
  text-decoration: underline;
  text-align: center; }

.section__parrafo {
  background: none;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.section__estilo-tres {
  background-color: none;
  color: green;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 3rem; }

.section__audio {
  justify-content: center;
  background-color: lightpink; }

.section__img-inicio {
  background-color: green;
  padding: 10px; }

/*ASIDE*/
.aside {
  background-color: white; }

.aside__iframe {
  background-color: green;
  padding: 20px; }

.aside__estilo-uno {
  background-color: none;
  color: green;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-top: 3rem;
  text-align: center; }

.aside__estilo-dos {
  background-color: none;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  padding-top: 10%;
  padding-right: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  text-align: center; }

/*ARTICLE*/
.article {
  background-color: none; }

.article__estilo-dos {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  text-align: center;
  padding: 20px; }

.article__estilo-tres {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 23px;
  text-align: center; }

.article__parrafo {
  background-color: none;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
  padding: 20px; }

/*MAIN*/
.main {
  padding: 40px; }

/*FORM*/
.form {
  padding-bottom: 20px; }

.form-group {
  background-color: black;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  text-align: center; }

.form-control {
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center; }

.btn {
  display: block;
  margin: auto;
  background-color: none;
  font-family: 'Dancing Script', cursive;
  font-size: 20px; }

/*MIXIN*/
.body {
  padding-left: 10px;
  padding-right: 10px; }

.table {
  font-size: "Dancing Script";
  background-color: none; }

.navbar {
  margin-top: 10px;
  margin-bottom: 10px; }

/*TABLAS*/
.table {
  border: 5px solid green;
  font-family: 'Dancing Script', cursive;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.table__estilo-uno {
  background-color: none;
  color: green;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.table__estilo-dos {
  padding: 20px;
  font-size: 30px; }

.table__estilo-tres {
  background-color: white;
  font-size: 18px;
  padding: 20px; }

.table__img {
  display: block;
  margin: auto; }

.table__img:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px pink;
  -webkit-box-shadow: 0px 0px 15px 15px pink;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

/*FOOTER*/
.footer {
  background-color: pink;
  padding: 20px; }

.footer__estilo-cuatro {
  font-family: 'Dancing script', cursive;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 20px; }

.footer__div {
  font-family: 'Dancing script', cursive;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 20px; }

.footer__img {
  width: 120px;
  height: 120px;
  padding-top: 30px;
  padding-bottom: 30px; }

/*COPYRIGHT*/
.copyright {
  color: black;
  font-family: 'Dancing Script';
  font-size: 20px;
  padding-top: 20px;
  text-align: center; }

/*MEDIA QUERIES*/
@media only screen and (min-width: 320px) {
  .section__img-inicio {
    display: block;
    margin: auto; }
  .aside__img {
    width: 180px;
    height: 180px; } }
